@font-face {
  font-family: Raleway;
  src: url(./Font/Raleway-Regular.ttf);
}

@font-face {
  font-family: Volkhov;
  src: url(./Font/Volkhov-Regular.ttf);
}

@font-face {
  font-family: Poppins;
  src: url(./Font/Poppins-Regular.ttf);
}


body {
  margin: 0;
  font-family:  Poppins;
}